.left-sm {
  left: 5rem;
}

.mar-r-sm {
  margin-right: 2rem;
}

.mar-r-md {
  margin-right: 8rem;
}

.mar-r-lg {
  margin-right: 20rem;
}

.mar-l-sm {
  margin-left: 2rem;
}

.mar-l-md {
  margin-left: 8rem;
}

.mar-l-lg {
  margin-left: 20rem;
}

.mar-t-sm {
  margin-top: 2rem;
}

.mar-t-md {
  margin-top: 8rem;
}

.mar-t-lg {
  margin-top: 20rem;
}
